@import url('https://fonts.googleapis.com/css?family=Dosis|Knewave&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
*{
	margin:0;
	padding: 0;
	outline: 0px;

}
.container{
	width: 960px;
	margin:0 auto;
}
.v-log{
	height: 166px;
	width: 295px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #ddd4d2;
}
.s-about{margin-top: 10px;}
.s-text{float: left;width: 580px;padding: 10px;}
.s-text h2{color: #97b997;
font-family: 'Knewave', cursive;
border: 1px solid aliceblue;
padding: 10px;
margin-bottom: 10px;
background: border-box;
background: whitesmoke;
text-shadow: 1px 1px 1px black;
letter-spacing: 5px;}
.s-text p{font-family: 'Dosis', sans-serif;}
.s-pic{float: left;}
.s-pic img{width: 320px;
height: 200px;padding: 10px;border: 1px solid #ddd;}